body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../includes/images/blog.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80%;
    border: 15px solid #24a0ed;
    font-family: source sans pro , sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}
.blog{
    margin-bottom: 20px;
}
.paragraph{
    border-left: 5px solid #24a0ed;
    padding-left: 5px;
}
h2{
    font-size: 2.0rem;
    color: white;
}
h3{
    font-size: 1.5rem;
    color: white;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
p{
    color: white;
    font-weight: 600;
}