

  /* S General */
  
  body{
    overflow-x: hidden;
  }

  /* E General */

  /* Start NavBar Design */
  form.search_form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border-radius:4px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.search_form button {
    float: left;
    width: 20%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.search_form button:hover {
    background: #0b7dda;
  }

  form.search_form::after {
    content: "";
    clear: both;
    display: table;
  }
  /* End NavBar Design */
  
  /* Start Home Design */
      /* Start Create Post */ /* If You Want Change Ask Me First. Don't Touch Please 'Saleh' */
      .insert-post{
        background-color: #fff;
        border: 2px solid #e6e6e6;
        padding: 10px 30px 20px 30px;
      }
      .insert-post textarea{}  /* Doesn't Delete It 'Saleh' */ 
      .select-type{
        padding: 10px 5px;
        margin: 0px;
      }
      .type-lable{
        font-weight: bold;
        font-size: 16px
      }
      .insert-post button{
        width: 100%;
        color: #fff;
        background-color:#269abc;
      }
      .insert-post button:hover {
        color: #fff;
        background-color: #eee;
        border-color: #269abc;
      }
      @media (min-width: 480px){
        .select-type {
          padding:10px 10px;
        }
      }
      /* End Create Post */

  #posts{
    border: 5px solid #e6e6e6;
    padding: 20px 20px;
  }

  #single_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
  }

  .pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
  }

  .pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 110px;
    width: 100%;
    border: 1px solid #F2F2F2;
  }
  #find_people{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
  }
  #result_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
  }

  /* End Home Design */


 


  /* Start SignIn Design */
	body{
		overflow-x: hidden;
	}
	.main-content {
	  width: 50%;
	  height: 40%;
	  margin: 10px auto;
	  background-color: #fff;
	  border: 2px solid #e6e6e6;
	  padding: 40px 50px;
	}
	.header {
	  border: 0px solid #000;
	  margin-bottom: 5px;
	}
	.well{
		background-color: #187FAB;
	}
	#signin{
		width: 60%;
		border-radius: 30px;
	}
	.overlap-text {
	  position: relative;
	}

	.overlap-text a {
	  position: absolute;
	  top: 8px;
	  right: 10px;
	  font-size: 14px;
	  text-decoration: none;
	  font-family: 'Overpass Mono', monospace;
	  letter-spacing: -1px;
	}	
	/* End SignIn Design */
	/* Start Forget Password */
  body{
    overflow-x: hidden;
  }
  .main-content {
    width: 50%;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  .header {
    border: 0px solid #000;
    margin-bottom: 5px;
  }
  .well{
    background-color: #187FAB;
  }
  #signup{
    width: 60%;
    border-radius: 30px;
  }
#docsignup{
    width: 60%;
    border-radius: 30px;
  }
	
	/* End Forgrt Password */  


	/* Start Profile Design */

#profile_img{
	position: absolute;
	top: 160px;
	left: 40px;
}
#update_profile{
  	position: absolute;
  	top: 150px;
  	cursor: pointer;
  	left: 93px;
  	border-radius: 4px;
  	background-color: rgba(0,0,0,0.1);
  	transform: translate(-50%, -50%);
}
#button_profile{
  	position: absolute;
  	top: 115%;
  	left: 50%;
  	cursor: pointer;
  	transform: translate(-50%, -50%);
}
#own_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
}
#posts_img {
    height:300px;
   	width:100%;
}	
/* End Profile Design */

/* start user_profile */
#own_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
	width:90%;
}
#posts_img {
    height:300px;
   	width:100%;
}
.btn_udown{
 margin-left: 500px;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
    margin-left: 15px; !i
}

/* Start Index Design */
	body{
		overflow-x: hidden;
	}
	#centered1 {
	    position: absolute;
	    font-size:10vw;
	    top: 20%;
	    left: 10%;
	    
	}
	#centered2 {
	    position: absolute;
	    font-size:10vw;
	    top: 40%;
	    left: 10%;
	}
	#centered3 {
	    position: absolute;
	    font-size:10vw;
	    top: 60%;
	    left: 10%;
	}
	#signup{
		width: 60%;
		border-radius: 30px;
		margin-bottom: 15px;
	}
    #docsignup{
		width: 60%;
		border-radius: 30px;
		margin-bottom: 15px;
	}
	#login{
		width: 60%;
		background-color: #fff;
		border: 1px solid #1da1f2;
		color: #1da1f2;
		border-radius: 30px;
	}
	#login:hover{
		width: 60%;
		background-color: #fff;
		color: #1da1f2;
		border: 2px solid #1da1f2;
		border-radius: 30px;
	}
	.well{
		background-color: #187FAB;
		color: white;
		text-align: center;
	}
	/* css for share button*/
    div .share-area{
      float: right;
      margin-left: 5px;
    }

    div .share-form{
      width: 200px;
      height: 50px;
    }
    div .share-copy-button{
      background: none;
      color: #0077cc;
      border: none;
      margin-top: -5px;
      cursor: pointer;
    }
    div .share-link{
      background: red;
    }

	/* End Index Design */
  /*Start Pagination Area*/

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

/*End Pagination Area */
  
/* Start Like */ 
.like-btn{
    color: #31b0d5;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 5px;
}
.post-info .fa{
    font-size: 30px;
}
.likes{
    background-color: #eee;
    position: relative;
    left: 23px;
    min-width: 10px;
    padding: 4px 9px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #31b0d5;
    border-radius: 10px;
}

/* End Like */

/* Start Doctor Profile */
.cover-img{
  height:400px;
  width:100%;
  border-radius: 7px;
}
.cover-ul {
  position: absolute;
  top: 10px;
  left: 40px;
}
.photo-ul{
  position: absolute; 
  bottom: 3px;
  left: 26px
}
.profile{
  position: absolute;
  top: 160px;
  left: 40px;
}
.panel-body {
    padding: 10px;
}
.information ul{
  padding: 0;
  margin: 0;
}
.information ul li {
  padding: 7px 10px;
}
.information ul li:nth-child(odd){
  background-color: #eee;
}
.information ul li span{
  display: inline-block;
  width: 120px;
}
.thumbnail .date {
  text-align: right;
  font-size: 13px;
  color: #AAA;
  font-weight: bold;
}
.information .btn{
  margin-top: 10px;
}



#button_profile{
    position: absolute;
    top: 115%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
#own_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
}
#posts_img {
    height:300px;
    width:100%;
} 
/* End Doctor Profile */