@media(max-width:576px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

  /* S General */
  
  body{
    overflow-x: hidden;
  }
  .panel-info {
    border-color: #31b0d5;
  }
  .panel-info > .panel-heading {
    color:black;
    background-color: #31b0d5;
    border-color: #31b0d5;
  }
  /* E General */

  /* Start NavBar Design */
  form.search_form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border-radius:4px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.search_form button {
    float: left;
    width: 20%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.search_form button:hover {
    background: #0b7dda;
  }

  form.search_form::after {
    content: "";
    clear: both;
    display: table;
  }
  /* End NavBar Design */
  

 


  /* Start SignIn Design */
	body{
		overflow-x: hidden;
	}
	.main-content {
	  width: 50%;
	  height: 40%;
	  margin: 10px auto;
	  background-color: #fff;
	  border: 2px solid #e6e6e6;
	  padding: 40px 50px;
	}
	.header {
	  border: 0px solid #000;
	  margin-bottom: 5px;
	}
	.well{
		background-color: #187FAB;
	}
	#signin{
		width: 60%;
		border-radius: 30px;
	}
	.overlap-text {
	  position: relative;
	}

	.overlap-text a {
	  position: absolute;
	  top: 8px;
	  right: 10px;
	  font-size: 14px;
	  text-decoration: none;
	  font-family: 'Overpass Mono', monospace;
	  letter-spacing: -1px;
	}	
	/* End SignIn Design */
	/* Start Forget Password */
  body{
    overflow-x: hidden;
  }
  .main-content {
    width: 50%;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  .header {
    border: 0px solid #000;
    margin-bottom: 5px;
  }
  .well{
    background-color: #187FAB;
  }
  #signup{
    width: 60%;
    border-radius: 30px;
  }
#docsignup{
    width: 60%;
    border-radius: 30px;
  }
	
	/* End Forgrt Password */  


	/* Start Profile Design */

#profile_img{
	position: absolute;
	top: 160px;
	left: 40px;
}
#update_profile{
  	position: absolute;
  	top: 150px;
  	cursor: pointer;
  	left: 93px;
  	border-radius: 4px;
  	background-color: rgba(0,0,0,0.1);
  	transform: translate(-50%, -50%);
}
#button_profile{
  	position: absolute;
  	top: 115%;
  	left: 50%;
  	cursor: pointer;
  	transform: translate(-50%, -50%);
}
#own_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
}
#posts_img {
    height:300px;
   	width:100%;
}	
/* End Profile Design */

/* start user_profile */
#own_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
	width:90%;
}
#posts_img {
    height:300px;
   	width:100%;
}
.btn_udown{
 margin-left: 500px;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
    margin-left: 15px; !i
}

/* Start Index Design */
	body{
		overflow-x: hidden;
	}
	#centered1 {
	    position: absolute;
	    font-size:10vw;
	    top: 20%;
	    left: 10%;
	    
	}
	#centered2 {
	    position: absolute;
	    font-size:10vw;
	    top: 40%;
	    left: 10%;
	}
	#centered3 {
	    position: absolute;
	    font-size:10vw;
	    top: 60%;
	    left: 10%;
	}
	#signup{
		width: 60%;
		border-radius: 30px;
		margin-bottom: 15px;
	}
    #docsignup{
		width: 60%;
		border-radius: 30px;
		margin-bottom: 15px;
	}
	#login{
		width: 60%;
		background-color: #fff;
		border: 1px solid #1da1f2;
		color: #1da1f2;
		border-radius: 30px;
	}
	#login:hover{
		width: 60%;
		background-color: #fff;
		color: #1da1f2;
		border: 2px solid #1da1f2;
		border-radius: 30px;
	}
	.well{
		background-color: #187FAB;
		color: white;
		text-align: center;
	}


	/* End Index Design */
  /*Start Pagination Area*/

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

/*End Pagination Area */
  


/* Start Doctor Profile */
.cover-img{
  height:400px;
  width:100%;
  border-radius: 7px;
}
.cover-ul {
  position: absolute;
  top: 10px;
  left: 40px;
}
.photo-ul{
  position: absolute; 
  bottom: 3px;
  left: 26px
}
.profile{
  position: absolute;
  top: 190px;
  left: 40px;
}
.panel-body {
    padding: 10px;
}

.information ul{
  padding: 0;
  margin: 0;
}
.information ul li {
  padding: 7px 10px;
}
.information ul li:nth-child(odd){
  background-color: #eee;
}
.information ul li span{
  display: inline-block;
  width: 120px;
}
.thumbnail .date {
  text-align: right;
  font-size: 13px;
  color: #AAA;
  font-weight: bold;
}
.information .btn{
  margin-top: 10px;
}
.multi-btn{
  margin-left: -10px;
  width: 170px;
}


#button_profile{
    position: absolute;
    top: 115%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
#own_posts{
    border: 5px solid #e6e6e6;
    padding: 40px 50px;
}
#posts_img {
    height:300px;
    width:100%;
} 
/* End Doctor Profile */












/*
==============================
========= START Home =========
==============================
*/

/* Start Home Design */
    /* Start Create Post */ /* If You Want Change Ask Me First. Don't Touch Please 'Saleh' */
    .insert-post{
      background-color: #fff;
      border: 2px solid #e6e6e6;
      padding: 10px 30px 20px 30px;
    }
    .insert-post textarea{}  /* Doesn't Delete It 'Saleh' */ 
    .select-type{
      padding: 10px 5px;
      margin: 0px;
    }
    .type-lable{
      font-weight: bold;
      font-size: 16px
    }
    .insert-post button{
      width: 100%;
    }
    @media (min-width: 480px){
      .select-type {
        padding:10px 10px;
      }
    }
    /* End Create Post */

    /*
    ==============================
    ============= POST ===========
    ==============================
    */

/* End Home Design */ 

/*
==============================
=========== End Home =========
==============================
*/


/*
==============================
== Start post Details Page ===
==============================
*/
    /*
    ==============================
    ============= POST ===========
    ==============================
    */

    .Displayed-comment {
      padding: 0px 50px;
    }
    .Displayed-comment h4 {
      
    }    
    .Displayed-comment .comment{
      padding: 10px;
      background-color: #eee;
      border-radius:8px;
      font-size: 18px;
      color: #31b0d5;
    }
    .send-panel{
      border:2px solid #e6e6e6;
    }
    .send-btn{
      position: relative;
      top: 10px;
    }
/*
==============================
=== End post Details Page ====
==============================
*/



/*
==============================
========= START POST =========
==============================
*/

  /* Start Display Post */

  .post{
    border: 5px solid #e6e6e6;
    padding: 20px 20px;
  }

    /*Start Post's USer Info*/
    .user{  }
    .post img{
      width: 90px;
      height:90px;
      border-radius: 50%;
      display: inline;
      margin-right: 15px;
    }
    .post .user .name{
      text-decoration: none;
      cursor: pointer;
      color: #31b0d5/*3897f0*/;
      font-size: 29px;
    }
    .post .date{
      position: relative;
      top: -33px;
      left:115px;
      font-size: 13px;
    }
    /*End Post's USer Info*/
  
    /* Start Owner Action Buttons*/
    .owner-action{
        float: right;
    }
    .owner-action a{
      color:#31b0d5;
    }
    .owner-action .edit,.delete{
      font-size: 22px;
      position: relative;
      top: 22px;
      left: 20px;
      background-color: #eee;
      padding:5px;
      border-radius: 8px;
    }
    .owner-action a:hover{
      color:#31b0d5;
    }
    @media(max-width:576px){
      
      .owner-action{
        float: right;
      }
      .owner-action .edit,.delete{
        font-size: 22px;
        position: relative;
        top:-5px;
        right: 20px;
      }
      .owner-action .delete{
        margin-right: 20px;
      }

    }
    @media(max-width:768px){

      .owner-action{
        float: right;
      }
      .owner-action .edit,.delete{
        font-size: 22px;
        position: relative;
        top:-5px;
        right: 20px;
      }
      .owner-action .delete{
        margin-right: 20px;
      }

    }
    /* End Owner Action Buttons */
    
    /* Start Post Content */
    .post .content{
      font-size: 20px;
      border: 2px solid #eee;
      height:auto;
    }
    .content p{
     margin: 0;
     padding:6px 0px;
     word-break: justify;
    }
    .post-button{
      margin-top: 20px;
    }
    /* End Post Content */

    /* Start Like Button */
    .like-btn{
        color: #31b0d5;
        cursor: pointer;
        position: relative;
        left: 20px;
        
    }
    .post-button .fa{
        font-size: 34px;
    }
    .numLikes{
        color: #fff;
        background-color: #eee;
        position: relative;
        left: 23px;
        min-width: 10px;
        padding: 4px 9px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #31b0d5;
        border-radius: 10px;
        bottom: 4px;
    }
    /* End Like Button */

    /* Start Share And Show button */
    .post-button .show-btn,.share-area{
        float:right;
    }
    .share-form{
        width: 200px;
        height: 50px;
    }
    .share-copy-button{
        position: relative;
        bottom: 9px;
        padding: 4px 10px;
    }
    /* Start Share And Show button */

  /* End Display Post */


/*
==============================
=========== End POST =========
==============================
*/


/* admin*/
.admin_tasks  {
text-align: center;

}
.admin_tasks input {
width: 45% ;
height: 40px ;
}
.admin_tasks table {
 width: 00px;
 height: 30px ;
  color: blue ;
  padding: 10px 10px ;
  margin-left:  550px ;
 

}
.admin_tasks table  td{
 
  padding: 5px 5px ;
  
 

}
.admin_tasks a {
 text-decoration: none;
 color: black ;
}
.dropbtn {
 
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {

  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}
.users_data  {
  margin-left: 270px ;
  text-align: left;
 
  height: 50px ;
}
.users_data table {
  text-align: left;
  width: 70%;
  height: 50px ;
  padding: 20px 20px ;
}
.users_data table th {
  padding: 20px 20px ;
  background-color: #4CAF50;
  color: white;
}
.users_data table td {
  padding: 10px 10px ;
 border-bottom: 1px solid #ddd;
 text-align: left;
  
}
.users_data button {
 
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
   
  
}

.users_data_button1  {
  background-color: #4CAF50; /* Green */
}
.users_data_button2  {
  
  background-color:#f44336 ;
 
}
.m_content{
  max-width: 300px ;
  width: 300px ;
  display:  inline-grid;
  margin: 20px ;
  width: 165px ;
  height: 230px ;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 10% 10% 10% 1%;
}
.m_content2{
  margin-top: -15px;
 bottom: 0px ;
 text-align: center;
}

.m_content img {
  margin-top: 5px;
   border-radius: 30% 30% 50% 1% ;
  width: 150px ;
  height: 150px ;
  